@import url("/css/style.css");

:root {
  --clr-primary: hsl(0, 0%, 100%);
  --clr-secondary: hsl(110, 14%, 66%);
  --clr-background: hsl(150, 13%, 9%);

  --ff-primary: "Neue Montreal Bo", sans-serif;
  --ff-secondary: "Luna Bar", cursive;
}

:root::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--ff-primary);
  background-color: var(--clr-background);
  overflow-y: none; /* hide vertical */
  overflow-x: hidden; /* hide horizontal */
}

.container {
  max-width: 123rem;
  margin: 0 auto;
  /* padding: 0 1.6rem; */
}

.flex-rw {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  justify-items: center;
  align-items: center;
  row-gap: 10.4rem;
}

.grid-3-col {
  grid-template-columns: repeat(3, 1fr);
}

ul {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

/* .centered-content {
  justify-content: space-between;
  row-gap: 8rem;
} */

.title {
  color: white;
  font-size: 3.2rem;
  font-weight: 400;
  margin-bottom: 4rem;
}
